<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foo.mappers.BusinessMapper">



<!-- 사업자 회원가입 -->
<insert id="insertBusinessuser">
	INSERT INTO businessusers (buId, buPw, buNum, buName, buEmail, buTel, regdate) 
	VALUES (#{buId}, #{buPw}, #{buNum}, #{buName}, #{buEmail}, #{buTel}, now())
</insert>
<!-- 사업자 회원가입 -->



<!-- 사업자번호 중복 체크 -->
<select id="bnumOverlap" resultType="com.foo.domain.BusinessusersVO">
	SELECT buNum FROM businessusers 
	WHERE buNum = #{buNum}
</select>
<!-- 사업자번호 중복 체크 -->



<!-- 가게 등록 -->
<insert id="insertRestaurant">
	INSERT INTO restaurants (restId, restName, restTel, restAddr, restDescription, restRuntime, restCategory, restConvenience, restFile) 
	VALUES (#{restId}, #{restName}, #{restTel}, #{restAddr}, #{restDescription}, #{restRuntime}, #{restCategory}, #{restConvenience}, #{restFile})
</insert>
<!-- 가게 등록 -->



<!-- 로그인 -->
<select id="loginBUser" resultType="com.foo.domain.BusinessusersVO">
	SELECT * FROM businessusers 
	WHERE buId = #{buId} AND buPw = #{buPw}
</select>
<!-- 로그인 -->



<!-- 마이페이지 - 가게 정보 (입점 신청이 완료된 경우) -->
<select id="readMyRestaurantInfo" resultType="com.foo.domain.RestaurantsVO">
	SELECT * FROM restaurants 
	WHERE restId = #{restId}
</select>
<!-- 마이페이지 - 가게 정보 -->



<!-- 가게 수정 -->
<update id="updateRestaurant">
	UPDATE restaurants 
	SET restDescription = #{restDescription}, restRuntime = #{restRuntime}, restConvenience = #{restConvenience}, restNotice = #{restNotice}, restFile = #{restFile} 
	WHERE restId = #{restId}
</update>
<!-- 가게 수정 -->



<!-- 가게 삭제 -->
<delete id="deleteRestaurant">
	DELETE FROM restaurants 
	WHERE restId = (
		SELECT bu.buNum FROM businessusers bu 
		WHERE bu.buNum = #{buNum} AND bu.buPw = #{buPw})
</delete>
<!-- 가게 삭제 -->



</mapper>